{% extends 'base.html' %}

{% block header_title %}
	Geschafft! – Stimmen erfolgreich gespeichert
{% endblock %}

{% block content %}
	<h1>Geschafft!</h1>

	<p>{{ token_user.first_name }}, vielen Dank für Deine Teilnahme an der Abstimmung!</p>

	<hr />

	<p>
		Deine Stimmen wurden abgespeichert und werden in den Resultaten als
		<blockquote>»Mitglied #{{ token_user.member_id }}«</blockquote>
		erscheinen.
	</p>

	<p>
		Sollte sich deine Meinung zu einem Thema ändern oder solltest du dich verklickt haben, kannst du deine Stimmen noch bis zum Ende der Abstimmung ändern. Benutze dazu einfach den Link, den du in der ursprünglichen Mail bekommen hast.
	</p>
{% endblock %}
