{% extends 'base.html' %}

{% block content %}
	<h1>Willkommen, Lukas</h1>

	<p>Hallo im Abstimmungssystem der Jungen Piraten! Wenn Du zum ersten mal hier bist, solltest Du dir ein paar Sekunden Zeit nehmen, die folgenden Informationen durchzulesen. Ansonsten kannst du einfach fortfahren.</p>

	<h2>Wichtiger Punkt</h2>

	<p>Bla bla bla Lorem ipsum dolor sit amet, consectutor adipiscing elit. Bitte beachte, dass wir seit dem derpsten herpsten alle am rumderpen sind.</p>

	<a href="derp">Weiter</a>
{% endblock %}