{% extends 'base.html' %}

{% block header_title %}Mitgliederabstimmung – Junge Piraten{% endblock %}

{% block content %}
	<h1>Hallo!</h1>

	<p>Hallo im Abstimmungssystem der Jungen Piraten! Hier kannst Du als Mitglied über die eingereichten Anträge in der Mitgliederabstimmung abstimmen. Benutze dafür den Link, den Du per Mail bekommen hast.</p>

	<p>Noch kein Mitglied? Unter <a href="https://anmelden.junge-piraten.de/">anmelden.junge-piraten.de</a> kannst du Mitglied werden und dann bei der nächsten Mitgliederabstimmung selbst mit abstimmen!</a>

	<hr />

	<p>Der Betrieb dieses Systems kostet Zeit und Geld, weswegen wir uns über eine <a href="https://spenden.junge-piraten.de/">Spende</a> von dir freuen.</p>
{% endblock %}
