{% extends 'base.html' %}

{% block header_title %}Infos & Kontakt{% endblock %}

{% block content %}
	<h1>Infos & Kontakt</h1>

	<p>Falls du Hinweise oder Anmerkungen zum technischen Betrieb dieses Systems hast, kannst du dich per Mail an it@junge-piraten.de wenden</p>
	<p>Bei Bedenken oder Fragen zum Datenschutz ist dein Ansprechpartner der Datenschutzbeauftrage der Jungen Piraten Jan Leutert, den du unter dsb@junge-piraten.de erreichen kannst.</p>
	<p>Solltest du auf einen Bug gestoßen sein oder Anregungen für künftige Versionen haben, öffne bitte <a href="https://github.com/lutoma/oavote/issues/new">ein neues Ticket in unserem GitHub-Repository</a>.</p>
	<p>Wenn du auf eine Sicherheitslücke gestoßen bist, sende bitte eine Mail mit Details an lukas.martini@junge-piraten.de, ohne jemand anderen darüber zu informieren (Insbesondere bitte für Sicherheitslücken keinen Bug auf GitHub eröffnen, da diese öffentlich sind).</p>
{% endblock %}
