.author {
	margin-bottom: 30px;
}

.plot-pie {
	width: 350px;
	height: 150px;
	margin: 0;
	margin-bottom: 40px;
}

.vote-text {
	display: none;
}

.vote-details {
	font-size: 0.85em;
	display: none;
}

a {
	cursor: pointer;
}