{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<meta name="viewport" content="width=device-width" />

		<title>{% block header_title %}{% trans 'Poll' %}{% endblock %}</title>

		<link rel='stylesheet' href='{% static "css/base.css" %}' />
		<link rel='stylesheet' href='{% static "css/fonts.css" %}' />

		<!--[if lt IE 9]>
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
			<script src="{% static 'js/ie-lt9-html5.js' %}"></script>
		<![endif]-->

		<!--[if lt IE 8]>
			<link rel='stylesheet' href='{% static "css/ie-lt8.css" %}' />
			<script src="{% static 'js/ie-lt8-pngfix.js' %}"></script>
		<![endif]-->
	</head>

	<body>
		<header>
			<!--[if lt IE 9]>
				<img src='{% static "img/signet.png" %}' alt='Signet' />
			<![endif]-->
			<![if !lt IE 9]>
				<img src='{% static "img/signet.svg" %}' alt='Signet' />
			<![endif]>

			<span>
				<h1>Junge Piraten</h1>
				<h2>Onlineabstimmung</h2>
			</span>
		</header>

		<div id='main-wrapper'>
			<div id='wrapper-inside'>
				{% block content %}
					{% trans 'No content to show' %}
				{% endblock %}
			</div>
			<br class='clear' /> <!-- HTML fuck yeah -->
			
			{% block content-outside %}	{% endblock %}
		</div>

		<footer id='main-footer'>
			<ul>
				<li><a href="/">Fragen oder Bedenken zur Umsetzung, Sicherheit oder zum Datenschutz?</a></li>
				<li><a href="/">Datenschutzerklärung</a></li>
				<li><a href="/">Impressum</a></li>
			<ul>
		</footer>
	</body>
</html>